* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden; 
}

.banner {
    height: 100vh;
    width: 100%; 
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(pexels-photo-276510.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; 
}

.navbar {
    width: 85%;
    height: auto; 
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

nav a {
    position: relative; 
    color: white;
    padding: 10px;
    margin: 0 20px; 
    text-decoration: none;
    font-weight: 600; 
    transition: 0.5s; 
}

nav a:hover {
    color: gold; 
}

.content-container {
    margin: 10px;
    padding: 20px 20px;
    margin-right: auto; 
    margin-left: auto; 
    width: 500px; 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    height: 80vh; 
    border-radius: 10px; 
    backdrop-filter: blur(2px); 
    background-color: rgba(255, 255, 255, 0.2);  
    text-align: center; 
}

.main-content strong {
    color: gold;
}

.main-content {
    position: absolute; 
    color: #fff; 
    top: 25%;
    left: 50%; 
    transform: translateX(-50%);
    min-height: 75vh;
    padding: 20px 20px;
}

.main-content button {
    margin: 10px;
    padding: 15px; 
    color: #fff;
    background-color: black;
    border: 2px #fff; 
    border-radius: 100px;
    font-size: 13px;
    font-weight: 510;
    cursor: pointer;
    transition: 2.5s;
}

button:hover {
    background-color: gold;
    color: black;
    box-shadow: 0 0 10px gold, 0 0 25px gold, 0 0 60px gold; 
}



